{
  "plugins": [
    ["transform-react-jsx", { "pragma": "h" }],
    "dynamic-import-webpack",
    "transform-object-rest-spread"
  ],
  "presets": [["env", { "modules": false }]],
  "env": {
    "test": {
      "presets": [["env", "es2015"]]
    }
  }
}
