body {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;

  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5vh;
}

.screen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.screen img {
  width: 128px;
}

@keyframes attackToRight {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes attackToLeft {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0px);
  }
}
