.battleScene {
  position: absolute;
  margin-top: 320px;
}

.battleScene .screen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.battleScene .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.battleScene .screen img {
  width: 128px;
}

/* .battleScene .buttons input[type='radio']:disabled {
  display: none;
}

.battleScene .buttons input[type='radio']:disabled:before {
  content: '☠';
} */

.battleScene .buttons input[type='radio']:disabled + label {
  text-decoration: line-through;
}
